<!-- HERO COMPONENT START -->
<div class="hero" style="background-image: url('http://placehold.it/1600x450');"> <!-- BACKGROUND IMAGE ADDED VIA SITECORE  -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero_content">

    				<h1>Degree preparation at a top 10 UK university.</h1>
    				<p><strong>Join the International Study Centre this October.</strong></p>
					<div class="button">
					    <a href="#">Find out more</a>
					</div>

    			</div>
    		</div>
    	</div>
	</div>
</div>
<!-- HERO COMPONENT END -->